p img {
  height: 200px;
  width: 200px;
}

.my-name,
.btn-primary {
  background-color: #30bbbb !important;
}

body {
  height: auto;
  width: 100%;
  background-image: url(../images/ignasi_pattern_s.png);
}

.main {
  min-height: calc(100vh - 60px);
}
/* background color: #6c757d */
.footer {
  height: 50px;
  background-color: #6c757d;
  padding: 10px;
}

.footer p {
  color: #30bbbb;
  opacity: 0.5;
}

h1 {
  font-family: serif !important;
}

.card-body h1 {
  color: #30bbbb;
  font-weight: bolder;
}

.border-top {
    border-color: #30bbbb!important;
    border-width: 5px 0px 0px 0px!important;

}